# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Python / Django
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
venv/
server/venv/

# =========================
# Env
# =========================
.env
.env.*
!*.env.example

# =========================
# Node
# =========================
node_modules/
client/node_modules/

# =========================
# Build / Cache
# =========================
dist/
client/dist/
*.tsbuildinfo
.cache/

# =========================
# Logs
# =========================
*.log

# =========================
# Django specific
# =========================
media/
staticfiles/

# =========================
# Project specific
# =========================
server/db.sqlite3